.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #3c3c3c;
    padding: 15px 0;
    font-size: 13px;
    color: #ffffff;
    gap: 10px;
}

.footer img {
    cursor: pointer;
    max-width: 60px;
    margin: 0 auto;
    animation: spin 4s linear infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.footer p {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    color: #a1a1a1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
